{% load staticfiles %}

<script type="text/javascript" src="{% static "lib/jquery/dist/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "lib/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "lib/angular/angular.min.js" %}"></script>
<script type="text/javascript" src="{% static "lib/angular-ui-router/release/angular-ui-router.min.js" %}"></script>
<script type="text/javascript" src="{% static "build/scripts.js" %}"></script>